div(class="container")
  div(class="text-center title")
    h2 HOE WERKT HET?
    p Het is kinderspel! Al meer dan 
        b 9.547 belgen 
        span maken gebruik van de smilecard!
  div(class="footerarguments col-xs-12")
    div(class="col-md-4 text-center")
      img(src=require("../../img/check.png"), alt="" class="checkmark")
      div(class="check")
        p Het is 100% gratis en zal dat ook blijven
    div(class="col-md-4 text-center")
      img(src=require("../../img/check.png"), alt="" class="checkmark")
      div(class="check")
        p Geldig bij meer dan 13 belgische in internationale webshops
    div(class="col-md-4 text-center")
      img(src="img/check.png", alt="" class="checkmark")
      div(class="check")
        p Het is 100% gratis en zal dat ook blijven
  div(class="footerbutton")
    a(class="btn btn-danger btn-xl footercall" href="/signup") Word gratis lid!
  div(class="menus col-xs-12")
    ul.footer-nav__items
      li.footer-nav__item
        a(href="/about") About
      li.footer-nav__item
        a(href="/archives") Archive
      li.footer-nav__item
        a(href="#") FAQ
      li.footer-nav__item
        a(href="") Inloggen

img(src=require("../../img/logo.png") alt="", srcset="" class="footerlogo")
