/*

  Base
*/

a:before {
  font-icon: url('../../svg-icons/icon/kledij.svg');  
}


.btn-xl{
  font-size: 24px !important;
  text-transform: uppercase;
  font-weight: 900 !important;
  padding-left: 60px !important;
  padding-right: 60px !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.checkmark {
  margin-bottom: 10px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: @cl-body-bg;

  color: @cl-body-text;
}

.col {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.col-left {
  padding-left: 0 !important;
  padding-right: 15px !important;
}

.col-right {
  padding-left: 15px !important;
  padding-right: 0px !important;
}

.text-center{
  text-align: center;
}

/*

  Links
*/

a,
a:visited {
  transition: color .2s ease-in, box-shadow .2s ease-in;
  text-decoration: none;

  color: @cl-link-active;
  outline: 0;
}

a:visited {
  color: @cl-link-visited;
}

a:hover,
a:focus {
  color: @cl-link-hover;
}

p a,
p a:visited {
  line-height: inherit;
}



/*

  Lists
*/

ul,
ol,
dl {
  .vertical-margin(0, 1);

  margin-right: 0;
  margin-left: 0;
  padding: 0;
}

ol {
  list-style: decimal;
}

ul {
  list-style: disc;
}

li ul,
li ol,
ul ul,
ol ol {
  top: 0;

  margin-top: 0;
  margin-bottom: 0;
  margin-left: 1.5em;
}

li h1,
li h2,
li h3,
li h4,
li h5,
li h6,
li p {
  margin-top: 0;
}


/*

  Table
*/

table {
  width: 100%;
}

th {
  box-shadow: 0 1px 0 0 @cl-border;
}

th,
td {
  padding: 0 5px;
}



/*

  Images
*/

img {
  max-width: 100%;
  height: auto;

  vertical-align: middle;
}





/*

  Misc Helper
*/

#googlemap img,
object,
embed {
  max-width: none;
}

#map_canvas embed {
  max-width: none;
}

#map_canvas img {
  max-width: none;
}

#map_canvas object {
  max-width: none;
}

.left {
  float: left;
}

.right {
  float: right;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.is-hidden {
  display: none;
}


.signup-alert{
  margin-bottom: 0px !important;
  border: none !important;
  
  i{
    font-style: normal !important;
  }
}

.absolute-nav{
  position: absolute;
  z-index: 999;
  width: 100%;
}


.claimbtn{
  margin-left: 15px;
  padding-left: 30px !important;
  padding-right: 30px !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  font-weight: 900 !important;
}

.message {
  height: 40px;
  vertical-align: middle;
  display: table;
}

.vertical-align{
  display: table-cell;
  vertical-align: middle;
}

.community{
  text-transform: uppercase;
  font-weight: bold;
  text-align: right;  

  a{
    color: #ffffff;
  }

}

@media(max-width: @screen-xs-max){

  .community{
    text-align: center;
  }

}
@media(min-width: @screen-sm-min){
  .community{
    text-align: center;
  }
}  
@media(min-width: @screen-md-min){}  
@media(min-width: @screen-lg-min){} 


#headerdiv{
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 0px 0px 10px 10px;
  position: relative;
  height: 90vh;
  background-color: #ccc;  
  margin-top: -70px;

  .buttontobottom {
    position: relative;
    min-height: 90vh;
    text-align: center;
    width: 100%;
  }


  .layer{
    position: absolute;
    width: 100%;
    height: 90vh;
    top: 0px;
  }
  
  .cardslide{
    background-repeat: no-repeat;
    background-position-x: 0%;
    background-position-y: 20%;
    background-size: cover;
    border-radius: 0px 0px 10px 10px;    
  }


  .centercalltoaction{
    position: absolute;
    bottom: 0px;
    width: 100%;
  }
  
  .call{
    border-radius: 60px;
    padding-left: 5%;
    padding-right: 5%;
    color: #fff;
    transform: translateY(-100%);   
  
    h3{
      margin-top: 10px;    
      margin-bottom: 5px;
      text-transform: uppercase; 
      font-weight: 900;      
    }

    p{
      font-weight: normal;
      font-size: 12px;
    }
  
  }
  
  

  .scontainer {
    padding-left: 10%;
    padding-right: 10%;
  }

  .slogan {
    display: table;
    top: 0px;
    right: 0PX;
    position: relative;
    width: 100%;
    min-height: 90vh;
  }

  .favo{

    display: table-cell;
    vertical-align: middle;
    
      h1, .h1 {
        font-size: 5vh;
        font-weight: 900;
        color: @brand-danger;
        text-transform: uppercase;
      }
    
      .slogantext{
        text-align: end;
      }

  }
    

}

.smilecard-nav{

  .icon-small {
    width: 25px;
    height: 25px;
    border: none !important;
    border-radius: 40px;
    margin-right: 10px;
  }

  li.dropdown.langswitcher a {
    font-weight: 800;
    padding-bottom: 17px !important;
    top: 0px;
    padding-top: 18px;
    padding-left: 15px;
  }

  .navbar-toggle {
    border-color: #ddd;
    background-color: #000;
    color: #fff;
    border: none;
  }

  .btn-search-mobile{
    border-radius: 0px;
    width: 100%;
    text-transform: uppercase;
    border-radius: 0px;
    width: 100%;
    text-transform: uppercase;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: 800;
  }

 .in{

    .navbar-nav {
      margin: 10px 0px;
      margin-top: 40px;
    }

  }
 

  .icon-bar{
    background-color: #fff !important;
  }
  
  .caret{
    margin-left: 6px;
  }

  .navbar-collapse{
    padding-left: 0px;
    padding-right: 0px;
  }

  text-transform: uppercase;

  .left {
    float: left;
  }

  .right {
    float: right;
  }

  .active{
    font-weight: bold;
  }

  .flagcontainer {
    padding-bottom: 16px !important;
    padding-top: 17px !important;
    padding-right: 0px;
  }

  .dropdown-menu{
    padding: 0px;
  }

  .dropdown-menu > li > a{
    padding-top: 10px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 10px;
    border-bottom: 1px solid #CACACA;  
    border-left-width: 3px;
    border-left-color: @brand-danger;
    border-left-style: solid;   

    span{
      padding-left: 10px;
      padding-right: 10px;
    }

  }

  .smile{
    height: 1px;
    display: none;
  }

  .dropdown-submenu .dropdown-menu a{
    padding-top: 10px !important;
    padding-left: 10px;
  }
  

  .flag {
    width: 25px;
    height: 25px;
    border-radius: 20pc;
  }

  .middle {
    overflow: hidden;
    height: 61px;
  }

  .navbar{
    border: none !important;
  }
  

  .navbar-brand {
    padding-top: 0px;
    padding-bottom: 0px;    
    padding-left: 25px;
    padding-right: 0px;
    z-index: 999;
    position: relative;
  }

  .navlogo{
    height: 150%;
  }

  .navbar-form{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    

    .form-control {
      height: @navbar-height;
      border-radius: 0px;
      border: none;
      background-color: #febd44;
      color: #fff;
      width: 100%;
   }

    .seerchfield .btn{
      background-color: #febd44;
      border: none !important;
      border-radius: 0px;
      height: @navbar-height;
    }   

}

@media(max-width: @grid-float-breakpoint){
  
    .right{
      width: 100%;
    }
  
    .left{
      width: 100%;
    }
  
    .navbar {
      position: relative;
      min-height: 60px;
      border-radius: 0px 0px 10px 10px;
      margin-bottom: 20px;
      border: 1px solid transparent;
    } 
  
    #bs-example-navbar-collapse-1 {
      background-color: #ffffff;
      border-radius: 0px 0px 10px 10px;
      text-align: center;      
    }

}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: 0;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu:hover > .dropdown-menu {
  display: block;margin-left: 6px;

}

  ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #d1992f;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
color:    #d1992f;
opacity:  1;
}
::-moz-d1992f { /* Mozilla Firefox 19+ */
color:    #d1992f;
opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
color:    #d1992f;
}
::-ms-input-placeholder { /* Microsoft Edge */
color:    #d1992f;
}

}

.responsive-logocontainer {
  width: 100%;
  overflow: hidden;
  padding-left: 70px;
  padding-right: 70px;
  transform: translateY(-50%);  

  .slick-next {
    right: 40px;
  }

  .slick-prev {
    left: 40px;
  }

  .slick-prev, .slick-next{
    background-color: @brand-info;
    border-radius: 3px;
  }

  .slick-prev:before, .slick-next:before{
    font-family: none;
    color: #fff;
  }

  .slick-prev:before, .slick-next:before {
    text-align: center;
    font-family: "slick";
    font-size: 10px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .slick-prev:before {
    content: "◀";
  }

  .slick-next:before {
    content: "▶";
  }

}

.slick-slide {
  background-color: #fff;
  margin: 10px;
  border-radius: 10px;
}

.stepline {
  background-color: #fff;
  height: 5px;
  top: 100px;
  position: relative;
  margin-right: 15px;
}

.step{
  
  text-align: center;

  .stepcontianer{
    background-color: #fff;
    height: 200px;
    z-index: 999;
    position: relative;
    border-radius: 12px;
    margin-top: 8px;
  }

  .step-instruction {
    position: absolute;
    bottom: 0px;
    height: 40px;
    text-align: center;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    display: table;

    span{
      display: table-cell;
      vertical-align: middle;
    }
  }

  img{
    height: 60px;
    transform: translateY(50%);
    top: -12px;
    position: relative;
  }

  .bullet{
    border-radius: 50%;
    background-color: @brand-danger;
    width: 30px;
    height: 30px;
    text-align: center;
    color: #ffffff;
    font-weight: 900;
    padding-top: 4px;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(-50%);  
  }

}

.title{
  margin-bottom: 40px;
  margin-top: 60px;
}

.steps {
  display: inline-block;
  width: 100%;
  margin-top: 20px;
}



.fbcomment{
  margin-bottom: 10px;
}


.site-body {
  margin-top: 70px;
}


.webshoplogo {
  height: 110px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.webshop-text-container{
  height: 110px;

  h1 {
    font-size: 26px;
  }

}

.calltoaction-shop {
  text-align: center;

  .btn {
    font-size: 17px;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-weight: 800;
    width: 100%;
  }

}

@media(max-width: @grid-float-breakpoint){
  
  .center-text-container {
    display: table;
    height: auto;
    text-align: center;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  #headerdiv .favo .slogantext{
    text-align: center;
  }

  #headerdiv .call p {
    display: none;
  }

}


@media(max-width: @screen-md){

  .monitor{
    text-align: center;
    margin-bottom: 90px !important;        
  }
  
  .god-title{
    text-align: center;
  }

  .viewport{
    margin-left: 19% !important;
  }
  
  .extradetails {
    top: -150px !important;
    position: relative;
  }


}

.extradetails {
  top: -60px;
  position: relative;
}


@media(max-width: @screen-sm){

  .god-title {
    position: relative;
    height: auto !important;
    margin-top: 110px;
    margin-bottom: 210px;
    top: 0px !important;
  }

  .kantoor-bg{
    margin-left: 15px !important;
  }

  .step{
    padding-right:0px !important;
  }  

  .stepline{
    display: none;
  }
  
}


.webshopcontainer {
  position: relative;

  .bg {
    background: #fff;
    width: 230%;
    right: -15px;
    bottom: 0;
    top: 0;
    position: absolute;
    z-index: 1;
    border-radius: 0 15px 15px 0;
  }
}

.webshop{
  background-color: #fff;
}

.shop .monitor .shop-image {
  position: absolute;
  display: inline-block;
  top: 39%;
  left: 50%;
  transform: translateY(-50%);  
  z-index: -1;
}

.webshopitem{
  background-color: #fff;
  transform: translateY(-50%);  
}

.monitor {
  top: -30px;
}

.webshopitem-detail {
  border-radius: 10px;
}

.monitor {
  margin-top: 150px;
}

