
.color-primary{
  color: @brand-primary;
}

.color-success{
  color: @brand-success;
}

.color-info{
  color: @brand-info;
}

.color-warning{
  color: @brand-warning;
}

.color-danger{
  color: @brand-danger;
}