/*

  Page
*/

@media only screen and (max-width: @medium-max) {
  .site-page {
    margin: 0 10%;
  }
}

@media only screen and (max-width: @small-max) {
  .site-page {
    margin: 0 5%;
  }
}


/*

  Content
*/

.content__title {
}



/*

  Footer
*/

.site-footer {
  background-color: @brand-info;
  color: #fff;
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 0px;
  border-radius: 10px 10px 0px 0px;
  overflow: hidden;
  margin-top: 90px; 

  .menus {
    text-align: center;
    margin-top: 20px;

    li{
      float: left;
      padding-left: 10px;
      padding-right: 10px;

      a{
        color: #fff;
      }

    }

  }

  .checkmark{
    height: 30px;
    text-align: center;
  }

  .footerlogo {
    height: 80px;
    position: relative;
    float: right;
    top: -20px;
    right: 30px;
  }

  .footer-nav__items {
    list-style-type: none;
    margin: 0px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: table;
    margin-top: 20px;
    margin-bottom: -30px;    
  }

  .footercall {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 10px;
  }

  .footerbutton{
    text-align: center;
  }

}

.footer-nav__items {
  list-style-type: none;
  margin: 0px;
}

.footer-nav__item {
  
}


.center-text {
  display: table-cell;
  vertical-align: middle;
}

.center-text-container {
  display: table;

  h1, h2, h3, h4, h5{
    padding: 0px;
    margin: 0px;
  }

  p{
    margin: 0px;
  }

}


.wid {
  background: #fff;
  width: 230%;
  right: 0;
  position: absolute;
  height: 150px;
  z-index: 9;
}

.shop{
  position: relative;
  z-index: 99;
}

.webshop {
  background-color: #fff;
  position: relative;
  margin-bottom: 30px;  
  display: inline-block;
  width: 100%;
}

.lettertitle {
  text-align: right;
  margin-bottom: 20px;
  margin-top: 30px;
}

.shop {
  position: relative;
  z-index: 99;
  top: 20px;
}

.webshopdesc{
  color: gray;
}




// mac

#contendiv{
  height: 50vh;

  .pc{
    height: 30vh;
  }

}


@media (min-width: 480px){

  .shop .monitor .bg {
    width: auto;
  }

}

.monitor .shop-image {
  z-index: 9;
}

.monitor {
  margin-top: 12vh;
}

.viewport {
  width: 421px;
  height: 74%;
  overflow: hidden;
  position: absolute;
  top: 9px;
  background-color: aqua;
  margin-left: 20px;
  z-index: 10;
}

.monitor .shop-image{
  width: 100%;
}

.screen {
  z-index: 99;
  position: relative;
}

.webshopitem {
  z-index: 9999;
  position: relative;
}

.header {
  background-color: antiquewhite;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 0px 0px 10px 10px;
}
.kantoor-bg {
  background-position-y: 95%;
  background-size: cover;
  margin-left: 0px;
}

.god-title {
  position: relative;
  height: 30vh;
  top: 99px;

    h1{
      text-transform: uppercase;
    }

    h2{
      font-weight: 400;
      line-height: 34px;
      font-size: 25px;  
      margin-top: 0px;   
    }

}