#headerdiv
    div(data-bg=require("../img/head.jpg") class="cardslide lazy layer layer0")
    div(class="slogancontainer layer layer1")
        div(class="scontainer")
            .slogan
                div(class="favo")
                    div(class="col-lg-6 col-md-5")
                    div(class="col-lg-6 col-md-7 slogantext")
                        h1
                            span 1 Digitale 
                            br
                            span klantenkaart
                            br
                            span =
                            br
                            span Korting bij meer
                            br
                            span dan 13 webshops
    div(class="layer layer2")
            div(class="container")
                div(class="buttontobottom")
                    div(class="centercalltoaction")
                        a(href="#" class="btn btn-danger call") 
                            h3 Word gratis lid!
                            p En krijg cash door te kopen bijonderstande webshop !