include mixins/logo.jade
.responsive-logocontainer
    +logo("#image2", "https://www.solodev.com/assets/carousel/image1.png")
    +logo("#image1", "https://www.solodev.com/assets/carousel/image2.png")
    +logo("#image3", "https://www.solodev.com/assets/carousel/image3.png")
    +logo("#image4", "https://www.solodev.com/assets/carousel/image4.png")
    +logo("#image5", "https://www.solodev.com/assets/carousel/image5.png")
    +logo("#image6", "https://www.solodev.com/assets/carousel/image6.png")
    +logo("#image7", "https://www.solodev.com/assets/carousel/image7.png")
    +logo("#image8", "https://www.solodev.com/assets/carousel/image8.png")
    +logo("#image2", "https://www.solodev.com/assets/carousel/image1.png")
    +logo("#image1", "https://www.solodev.com/assets/carousel/image2.png")
    +logo("#image3", "https://www.solodev.com/assets/carousel/image3.png")
    +logo("#image4", "https://www.solodev.com/assets/carousel/image4.png")
    +logo("#image5", "https://www.solodev.com/assets/carousel/image5.png")
    +logo("#image6", "https://www.solodev.com/assets/carousel/image6.png")
    +logo("#image7", "https://www.solodev.com/assets/carousel/image7.png")
    +logo("#image8", "https://www.solodev.com/assets/carousel/image8.png")