div(class="absolute-nav smilecard-nav")
    div(class="container")     
        nav.navbar.navbar-default
            .left
                .navbar-header
                    button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href='/') 
                        img(src=require("../img/logo.png") class="navlogo")
            
            .right                                           
                #bs-example-navbar-collapse-1.collapse.navbar-collapse
                    ul.nav.navbar-nav
                        li(class="active")
                            a(href='webshop-az.html') Alle Webshops
                        li(class="dropdown")
                            a(href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true") Categorieën
                                span(class="caret")
                            include nav/dropdown.jade
                        li
                            a(href='/') Faq
                        li
                            a(href='/') Word lid?
                        li.dropdown.langswitcher
                            a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
                                img#imgNavSel.icon-small(src=require('../img/belguim.png'), alt='...')
                                span#lanNavSel NL
                                span.caret
                            ul.dropdown-menu(role='menu')
                                li
                                    a#navIta.language(href='/fr')
                                        img#imgNavIta.icon-small(src=require('../img/fr.png'), alt='...')
                                        span#lanNavIta FR
                                li
                                    a#navDeu.language(href='/nl')
                                        img#imgNavDeu.icon-small(src=require('../img/belguim.png'), alt='...')
                                        span#lanNavDeu NL
                    form.navbar-form.navbar-left.hidden-sm.hidden-md.hidden-lg
                        .form-group
                            input.form-control(type='text', placeholder='Search')
                            button.btn.btn-danger.btn-search-mobile(type='submit') Zoeken
            .middle
                form(action="" class="navbar-form")
                    input.seerchfield.form-control(type='text', placeholder='Search')