div(class="alert alert-danger signup-alert" role="alert") 
    div(class="container")
        div(class="col-lg-9 col-md-8 hidden-sm hidden-xs message")
            p(class="vertical-align")
                b(class="color-primary") Unieke kans: 
                i Dankzij 
                b(class="color-primary") FamilyCartd 
                i krijg je bij elke aankoop korting in vorm van cash geld. 
                b(class="color-primary") Wacht niet 
                i nog maar 
                b(class="edometer color-primary") 100 
                i kaarten vrij!
        div(class="col-lg-3 col-md-4 col-sm-12 community") 
            a(class="login") inloggen
            a(class="btn btn-info claimbtn" href="#" role="button") Claim kaart