div(class="steps")
	div(class="col-sm-3 col-left step step1")
		div(class="stepcontianer")
			p(class="bullet") 1
			img(src=require("../img/step1-icon.png"), alt="")
			p(class="step-instruction") 
				span Log in op je SmilCard account
	div(class="col-sm-3 col-left step step2")
		div(class="stepcontianer")
			p(class="bullet") 2
			img(src=require("../img/step2-icon.png"), alt="")
			p(class="step-instruction") 
				span Kies je favoriete webshop
	div(class="col-sm-3 col-left step step3")
		div(class="stepcontianer")
			p(class="bullet") 3
			img(src=require("../img/step3-icon.png"), alt="")
			p(class="step-instruction") 
				span Plaats je bestelling zoals je gewoon bent.
	div(class="col-sm-3 col-left step step4")
		div(class="stepcontianer")
			p(class="bullet") 4
			img(src=require("../img/step4-icon.png"), alt="")
			p(class="step-instruction") 
				span Ontvang je korting na aankoop in cash geld op je SmileCard account.
	div(class="stepline")