doctype html
html(lang="en")

  head
    include _partial/site/head.jade

  body
      header.site-header
        block site_header

      section.site-body
        block site_body

      footer.site-footer
        block site_footer
          include _partial/site/footer.jade
