extends base

block site_header
    include components/signup-alert.jade
    include components/nav.jade
    //#contendiv
    .header.detailheader(data-bg=require("./img/bg-img-mall-brighter.png") class="lazy kantoor-bg")
      div(class="container")
        .col-md-6
          div(class="god-title")
            h1 Zou jij het fijn vinden om altijd korting te krijgen op online aankopen bij Mediamarkt ?
            h2 Dat kan, dankzij SmileCard! Krijg tot 2% cashback op jouw aankoopbedrag
        .col-md-6.monitor.hidden-xs
          img(src='https://www.smilecard.be/images/monitor-455.png' alt='' class="screen")
          div(class="viewport")
            img.shop-image(src='https://www.smilecard.be/images/uploads/420x255/94489ba1d20cbe9c4a45ff7ab2f744a3.png', alt='')
    div(class="container webshopitem webshopitem-detail")
      div(class="webshop")
        div(class="shop")
          div(class="col-md-2")
            div(class="logos")
              div(data-bg=require("./img/1dayfly.png") class="webshoplogo lazy")
          div(class="col-md-6")
            div(class="center-text-container webshop-text-container")
                  div(class="center-text")
                    h1 1DayFly
                    p Krijg tot 1% van je aankoopbedrag terug in cash!
          div(class="col-md-4 calltoaction-shop")
            p Klaar om te winkelen?
            a(href="/detail.html" class="btn btn-danger") ACTIVEER KLANTENKAART
            p(class="webshopdesc") U wordt doorgestuurd naar de webshop
        div(class="wid hidden-sm hidden-xs")
    div(class="container extradetails")
      div(class="text-center title")
            h2 HOE WERKT HET?
            p Het is kinderspel! Al meer dan 
                b 9.547 belgen 
                span maken gebruik van de smilecard!
      include components/steps.jade
      div(class="text-center title")
          h2 HOE WERKT HET?
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ultrices elit sed purus condimentum, quis cursus urna aliquet. Pellentesque non erat nec velit mollis pretium. Phasellus interdum nulla lacinia leo faucibus hendrerit. Nulla eu molestie mi, eget laoreet mi. Integer scelerisque neque vel turpis mollis, sit amet hendrerit orci eleifend. Suspendisse viverra posuere urna cursus consectetur. Ut hendrerit porttitor erat, id posuere sem scelerisque non. Phasellus sed metus justo. Quisque finibus nisl ut molestie iaculis. Donec consequat ex at est malesuada vehicula. Maecenas sit amet nisi luctus, sagittis massa sed, efficitur eros. Sed sed molestie nisl, eget efficitur magna. In nec felis posuere purus ornare fermentum at sed ex.
        | Sed sed tellus at metus aliquam pellentesque. Sed nibh lectus, finibus nec congue vel, laoreet eget nisl. Aenean eros odio, porta ut fringilla a, rhoncus at erat. Nunc molestie fermentum sagittis. Morbi semper tempus est, imperdiet blandit ligula commodo non. Aenean sapien nunc, venenatis at hendrerit at, finibus rutrum massa. Etiam blandit urna eget elit commodo bibendum. Donec ullamcorper arcu at elit posuere, vitae eleifend tortor vulputate. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
        | Sed a sapien velit. Morbi aliquam posuere euismod. Quisque eu quam luctus, dictum ligula eu, suscipit velit. Aenean scelerisque nisi vel ornare laoreet. Nulla finibus in massa a molestie. Aenean tortor sem, euismod a mauris non, ultrices malesuada arcu. Curabitur dapibus, lorem non imperdiet posuere, velit diam tincidunt dui, at mollis sapien risus in nisi.
        | Nunc pulvinar ante vel sapien sagittis aliquam. Donec in augue imperdiet, consectetur ante laoreet, fermentum eros. Fusce vestibulum blandit est, id mollis massa vulputate quis. Ut sit amet iaculis ligula, in elementum mi. Cras risus elit, elementum et volutpat a, efficitur gravida felis. Phasellus non consectetur lectus. Aenean sollicitudin sem sit amet ultrices efficitur.
        | Pellentesque at ullamcorper ex. Vestibulum malesuada ligula ut magna porttitor egestas. Pellentesque non dignissim enim, a aliquet est. Nam eget velit eget metus gravida ornare id a ex. Mauris elit nibh, eleifend blandit congue at, placerat ut justo. Aliquam tempor auctor ipsum nec aliquam. Curabitur sollicitudin nunc et nibh consequat vehicula. Vestibulum molestie id massa id laoreet. Etiam iaculis neque eu mattis tempor. Aliquam sit amet sem dignissim arcu faucibus mattis sed eget dolor. Cras turpis metus, venenatis quis aliquet sed, vestibulum eget nunc. Aliquam varius nunc est, et auctor lorem fringilla eu. Sed et nulla dui. Integer eu tempus lorem. Quisque neque nisi, porta vitae porttitor vulputate, cursus in felis. Aliquam fringilla lacus sed facilisis vehicula.
