extends base

block site_header
    include components/signup-alert.jade
    include components/nav.jade

block site_body
    include components/headerdiv.jade
    include components/logoslider.jade
    div(class="container")
        div(class="text-center title")
            h2 HOE WERKT HET?
            p Het is kinderspel! Al meer dan 
                b 9.547 belgen 
                span maken gebruik van de smilecard!
        include components/steps.jade
        div(class="text-center title")
            h2 ONZE LEDEN ZIJN AL OVERTUIGD
            p Onze leden hebben samen al meer dan 
                b €57.400 
                span aan korting verzameld in cash geld !
            div(class="leadblock fbcommentblock")
                div(class="col-sm-6 col-left fbcomment")
                    img(src=require("./img/fb-testimonial-1.png") width="100%")
                div(class="col-sm-6 col-left fbcomment")
                    img(src=require("./img/fb-testimonial-2.png") width="100%")
                div(class="col-sm-6 col-left fbcomment")
                    img(src=require("./img/fb-testimonial-3.png") width="100%")
                div(class="col-sm-6 col-left fbcomment")
                    img(src=require("./img/fb-testimonial-4.png") width="100%")