extends base

block site_header
    include components/signup-alert.jade
    include components/nav.jade

block site_body
  div(class="container")
    h2(class="lettertitle") 0-9
    div(class="webshopcontainer")
      div(class="webshop")
        div(class="shop")
          div(class="col-md-2")
            div(class="logos")
              div(data-bg=require("./img/1dayfly.png") class="webshoplogo lazy")
          div(class="col-md-6")
            div(class="center-text-container webshop-text-container")
                  div(class="center-text")
                    h1 1DayFly
                    p Krijg tot 1% van je aankoopbedrag terug in cash!
          div(class="col-md-4 calltoaction-shop")
            p Klaar om te winkelen?
            a(href="/detail.html" class="btn btn-danger") ACTIVEER KLANTENKAART
            p(class="webshopdesc") U wordt doorgestuurd naar de webshop
        div(class="wid hidden-sm hidden-xs")
      .bg
    h2(class="lettertitle") A
    div(class="webshopcontainer")
      div(class="webshop")
        div(class="shop")
          div(class="col-md-2")
            div(class="logos")
              div(data-bg=require("./img/aliexpress.png") class="webshoplogo lazy")
          div(class="col-md-6")
            div(class="center-text-container webshop-text-container")
                div(class="center-text")
                  h1 AliExpress
                  p Krijg tot 2% cashback op jouw aankoopbedrag
          div(class="col-md-4 calltoaction-shop")
            p Klaar om te winkelen?
            a(href="#" class="btn btn-danger") ACTIVEER KLANTENKAART
            p(class="webshopdesc") U wordt doorgestuurd naar de webshop
        div(class="wid hidden-sm hidden-xs")
      div(class="webshop")
        div(class="shop")
          div(class="col-md-2")
            div(class="logos")
              div(data-bg=require("./img/aladaniti.png") class="webshoplogo lazy")
          div(class="col-md-6")
            div(class="center-text-container webshop-text-container")
              div(class="center-text")
                h1 Aldaniti
                p schoenen, mode en kledij? je vind het allemaal op aldaniti. en dankzij smilecard, krijg je voor elke bestelling die je bij aldaniti plaatst, €0,25 korting!
          div(class="col-md-4 calltoaction-shop")
            p Klaar om te winkelen?
            a(href="#" class="btn btn-danger") ACTIVEER KLANTENKAART
            p(class="webshopdesc") U wordt doorgestuurd naar de webshop
        div(class="wid hidden-sm hidden-xs")
      .bg
    h2(class="lettertitle") B
    div(class="webshopcontainer")
      div(class="webshop")
        div(class="shop")
          div(class="col-md-2")
            div(class="logos")
              div(data-bg=require("./img/bakkercom.png") class="webshoplogo lazy")
          div(class="col-md-6")
            div(class="center-text-container webshop-text-container")
                div(class="center-text")
                  h1 bakker.com
                  p 
          div(class="col-md-4 calltoaction-shop")
            p Klaar om te winkelen?
            a(href="#" class="btn btn-danger") ACTIVEER KLANTENKAART
            p(class="webshopdesc") U wordt doorgestuurd naar de webshop
        div(class="wid hidden-sm hidden-xs")
      .bg
    h2(class="lettertitle") C
    div(class="webshopcontainer")
      div(class="webshop")
        div(class="shop")
          div(class="col-md-2")
            div(class="logos")
               div(data-bg=require("./img/coolblue.png") class="webshoplogo lazy")
          div(class="col-md-6")
            div(class="center-text-container webshop-text-container")
                div(class="center-text")
                  h1 Coolblue
                  p Krijg tot 5% van je aankoopbedrag terug in cash!
          div(class="col-md-4 calltoaction-shop")
            p Klaar om te winkelen?
            a(href="#" class="btn btn-danger") ACTIVEER KLANTENKAART
            p(class="webshopdesc") U wordt doorgestuurd naar de webshop
        div(class="wid hidden-sm hidden-xs")
      div(class="webshop")
        div(class="shop")
          div(class="col-md-2")
            div(class="logos")
              div(data-bg=require("./img/collishop.png") class="webshoplogo lazy")
          div(class="col-md-6")
            div(class="center-text-container webshop-text-container")
                  div(class="center-text")
                    h1 ColliShop
                    p 
          div(class="col-md-4 calltoaction-shop")
            p Klaar om te winkelen?
            a(href="#" class="btn btn-danger") ACTIVEER KLANTENKAART
            p(class="webshopdesc") U wordt doorgestuurd naar de webshop
        div(class="wid hidden-sm hidden-xs")
      .bg