ul.dropdown-menu.multi-level1.border-2-black
    li.dropdown-submenu
        a.dropdown-toggle(href='javascript:void(0)', data-toggle='dropdown')
            span Mode en kledij
        ul.dropdown-menu.bg-light-yellow.border-2-black
            li
                a(href='https://www.smilecard.be/category/13') Mannen Mode
                .smile(style='background: #de8713')
            li
                a(href='https://www.smilecard.be/category/14') Vrouwen Mode
            li
                a(href='https://www.smilecard.be/category/16') Lingerie
            li
                a(href='https://www.smilecard.be/category/15') Kinderkleding
            li
                a(href='https://www.smilecard.be/category/3') Schoenen
            li
                a(href='https://www.smilecard.be/category/4') Juwelen
            li
                a(href='https://www.smilecard.be/category/17') Luxe
    li.dropdown-submenu
        a.dropdown-toggle(href='javascript:void(0)', data-toggle='dropdown')
            .smile(style='background: #de8713')
            span Reizen
        ul.dropdown-menu.bg-light-yellow.border-2-black
            li
                a(href='https://www.smilecard.be/category/8') Hotels
            li
                a(href='https://www.smilecard.be/category/9') Vakanties
            li
                a(href='https://www.smilecard.be/category/10') Vluchten
            li
                a(href='https://www.smilecard.be/category/11') Trein &amp; Bus tickets
            li
                a(href='https://www.smilecard.be/category/12') Autoverhuur
            li
                a(href='https://www.smilecard.be/category/64') Luchthaven vervoer
    li.dropdown-submenu
        a.dropdown-toggle(href='javascript:void(0)', data-toggle='dropdown')
            .smile(style='background: #ec410f')
                img(src='/images/smile-16.png', alt='')
            span Computers &amp; Electronica
        ul.dropdown-menu.bg-light-yellow.border-2-black
            li
                a(href='https://www.smilecard.be/category/19') Computers &amp; Hardware
            li
                a(href='https://www.smilecard.be/category/20') TV &amp; Video
            li
                a(href='https://www.smilecard.be/category/21') Smartphones &amp; tablets
            li
                a(href='https://www.smilecard.be/category/22') Huishoud Electronica
    li.dropdown-submenu
        a.dropdown-toggle(href='javascript:void(0)', data-toggle='dropdown')
            .smile(style='background: #b111d9')
                img(src='/images/smile-16.png', alt='')
            span Schoonheid &amp; Gezondheid
        ul.dropdown-menu.bg-light-yellow.border-2-black
            li
                a(href='https://www.smilecard.be/category/24') Parfum &amp; Cosmetica
            li
                a(href='https://www.smilecard.be/category/26') Bio - Afskanken &amp; Voeding
    li.dropdown-submenu
        a(href='https://www.smilecard.be/category/6')
            .smile(style='background: #4fe224')
                img(src='/images/smile-16.png', alt='')
            span Top Online Shops
    li.dropdown-submenu
        a(href='https://www.smilecard.be/category/25')
            .smile(style='background: ')
                img(src='/images/smile-16.png', alt='')
            span Welness &amp; gezondheid
    li.dropdown-submenu
        a.dropdown-toggle(href='javascript:void(0)', data-toggle='dropdown')
            .smile(style='background: #3fce15')
                img(src='/images/smile-16.png', alt='')
            span Huis &amp; Tuin
        ul.dropdown-menu.bg-light-yellow.border-2-black
            li
                a(href='https://www.smilecard.be/category/28') Energie
            li
                a(href='https://www.smilecard.be/category/29') Huislinnen
            li
                a(href='https://www.smilecard.be/category/30') Meubels
            li
                a(href='https://www.smilecard.be/category/31') Tuin
            li
                a(href='https://www.smilecard.be/category/58') Keuken
            li
                a(href='https://www.smilecard.be/category/32') Deco &amp; design
            li
                a(href='https://www.smilecard.be/category/33') Doe het zelf
    li.dropdown-submenu
        a.dropdown-toggle(href='javascript:void(0)', data-toggle='dropdown')
            .smile(style='background: #d6f038')
                img(src='/images/smile-16.png', alt='')
            span Voeding &amp; Drank
        ul.dropdown-menu.bg-light-yellow.border-2-black
            li
                a(href='https://www.smilecard.be/category/35') Supermarkten
            li
                a(href='https://www.smilecard.be/category/36') Chocolade &amp; Pralines
            li
                a(href='https://www.smilecard.be/category/37') Wijn &amp; Alcohol
            li
                a(href='https://www.smilecard.be/category/38') Koffie &amp; Thee
    li.dropdown-submenu
        a.dropdown-toggle(href='javascript:void(0)', data-toggle='dropdown')
            .smile(style='background: ')
                img(src='/images/smile-16.png', alt='')
            span Sport &amp; Vrije Tijd
        ul.dropdown-menu.bg-light-yellow.border-2-black
            li
                a(href='https://www.smilecard.be/category/40') Sportmateriaal
            li
                a(href='https://www.smilecard.be/category/41') Sportkleding
            li
                a(href='https://www.smilecard.be/category/42') Fitness
            li
                a(href='https://www.smilecard.be/category/43') Ski
            li
                a(href='https://www.smilecard.be/category/62') Kids
    li.dropdown-submenu
        a.dropdown-toggle(href='javascript:void(0)', data-toggle='dropdown')
            .smile(style='background: #1a63d0')
                img(src='/images/smile-16.png', alt='')
            span Evenementen &amp; Culture
        ul.dropdown-menu.bg-light-yellow.border-2-black
            li
                a(href='https://www.smilecard.be/category/45') Film &amp; Muziek
            li
                a(href='https://www.smilecard.be/category/47') Tickets
            li
                a(href='https://www.smilecard.be/category/56') Boeken
            li
                a(href='https://www.smilecard.be/category/46') Dating
            li
                a(href='https://www.smilecard.be/category/48') Weddenschappen &amp; Gokken
    li.dropdown-submenu
        a.dropdown-toggle(href='javascript:void(0)', data-toggle='dropdown')
            .smile(style='background: ')
                img(src='/images/smile-16.png', alt='')
            span
        ul.dropdown-menu.bg-light-yellow.border-2-black
            li
                a(href='https://www.smilecard.be/category/59') Adult
    li.dropdown-submenu
        a.dropdown-toggle(href='javascript:void(0)', data-toggle='dropdown')
            .smile(style='background: #18dff2')
                img(src='/images/smile-16.png', alt='')
            span Geschenken, box &amp; bloemen
        ul.dropdown-menu.bg-light-yellow.border-2-black
            li
                a(href='https://www.smilecard.be/category/50') Geschenkboxen
    li.dropdown-submenu
        a.dropdown-toggle(href='javascript:void(0)', data-toggle='dropdown')
            .smile(style='background: #9f1d1d')
                img(src='/images/smile-16.png', alt='')
            span Auto&apos;s &amp; Moto&apos;s
        ul.dropdown-menu.bg-light-yellow.border-2-black
            li
                a(href='https://www.smilecard.be/category/52') Autobanden
    li.dropdown-submenu
        a(href='https://www.smilecard.be/category/54')
            .smile(style='background: #6159e1')
                img(src='/images/smile-16.png', alt='')
            span Foto &amp; Drukwerk
    li.dropdown-submenu
        a(href='https://www.smilecard.be/category/55')
            .smile(style='background: ')
                img(src='/images/smile-16.png', alt='')
            span Bank &amp; Verzekeringen
    li.dropdown-submenu
        a(href='https://www.smilecard.be/category/60')
            .smile(style='background: ')
                img(src='/images/smile-16.png', alt='')
            span Office
    li.dropdown-submenu
        a(href='https://www.smilecard.be/category/61')
            .smile(style='background: ')
                img(src='/images/smile-16.png', alt='')
            span Vakantieparken
    li.dropdown-submenu
        a(href='https://www.smilecard.be/category/63')
            .smile(style='background: ')
                img(src='/images/smile-16.png', alt='')
            span Telecom